.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12.5em;
  background: #e1e1e1;
  margin: -1em -2.5em 1em;
  font-size: 2em;
}

.post-title {
  font-size: 3em;
  margin: 0;
  font-weight: 500;
  position: relative;
  color: #ffffff;

  &::before {
    content: attr(data-title);
    position: absolute;
    left: -3px;
    top: -2px;
    color: #222222;
  }
}